# ignore compiled output
target/

# ignore intellij files
*.iml
*.ipr
*.iws

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# ignore staged secure connect bundle
secure-connect-bundle.zip

# ignore log output
USER_HOME_IS_UNDEFINED
