<configuration>
    <property name="pattern" value="%green(%d{HH:mm:ss.SSS}) [%yellow(%thread)] %highlight(%-5level) %cyan(%class{0}) - %msg%n" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${USER_HOME}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${USER_HOME}/application-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>200</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.datastax.oss.driver.internal.core.control.ControlConnection" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.RemoveNodeRefresh" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.context.EventBus" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.session.PoolManager" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.pool.ChannelPool" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.DefaultTopologyMonitor" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.util.concurrent.Reconnection" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.MetadataManager" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.NodeStateManager" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.FullNodeListRefresh" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.InitialNodeListRefresh" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.AddNodeRefresh" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.LoadBalancingPolicyWrapper" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.loadbalancing.BasicLoadBalancingPolicy" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.channel.ProtocolInitHandler" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.metadata.SniEndPoint" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <!--
    <logger name="com.datastax.oss.driver.internal.core.tracker.RequestLogger" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.cql.CqlRequestHandler" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.pool.ChannelPool" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="com.datastax.oss.driver.internal.core.channel.ChannelFactory" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    <logger name="io.netty.handler.ssl.SslHandler" level="trace">
        <appender-ref ref="STDOUT-DEBUG" />
    </logger>
    -->
</configuration>